table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1{
    text-align: center;
    color: #dddddd;
}
body{
    background-color: rgba(28, 28, 231, 0.801);
}
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
} 
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 21.25px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}