body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 115, 192);
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
  font-size: 20px
}

ul li a {
  display: block;
  color: white;
  padding: 21.25px 20px;

  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.center {
  margin: auto;
  width: 86.45%;
  border: 5px solid #e6c843;
  padding: 125px;
  background-color:#e6c843;
  font-size: 55px;
  text-align: center;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-size: 22.5px;
}
p{
  font-size: 60px;
  text-align: center;
  color: black;
  font: bold;
  padding: 125px  ;
}